# Telegram Bot Configuration
TELEGRAM_TOKEN=
ADMIN_ID=
ALLOWED_USERS=
DEVELOPER_USERNAME=@NotMrRifat

# EliteSMP Bedrock Server Details
SERVER_NAME=EliteSMP Bedrock

# Aternos Bedrock Address (RakNet UDP Ping)
# Example: elitesmp.aternos.me:19132
MC_BRIDGE_URL=

# Web Control Panel Admin Passkey
WEB_ADMIN_KEY=