# Telegram Bot Configuration
TELEGRAM_TOKEN=123456789:ABCdefGHIjklMNOpqrsTUVwxyZ_ExampleToken
ADMIN_ID=123456789
ALLOWED_USERS=123456789,987654321,555666777
DEVELOPER_USERNAME=@NotMrRifat


# Aternos Account Details
ATERNOS_USER=your_aternos_username
ATERNOS_PASS=your_aternos_password

# SMP Details
SERVER_NAME=Your_SMP_Name